################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/VehicleData/FileContentIndex/b3503f3e-22eb-476c-87ef-613d75ad6eb2.vsidx
/.vs/VehicleData/FileContentIndex/327d9c5d-3989-441c-a076-834c5671af2e.vsidx
/.vs/VehicleData/FileContentIndex/906e9538-107d-4d9d-a1df-cd54b2fef8c0.vsidx
/.vs/VehicleData/FileContentIndex/720f85ac-9dea-4847-bbd0-3d02f19752f7.vsidx
/.vs/VehicleData/FileContentIndex/6eb00063-7bbd-4926-bc80-be80e25c4083.vsidx
/.vs/VehicleData/FileContentIndex/bd3d7b51-eace-4d7b-8f8c-22f27c78a792.vsidx
/.vs/VehicleData/FileContentIndex/78a3e539-49f7-41bd-8878-37a46ddd40f6.vsidx
/.vs/VehicleData/FileContentIndex/a92a3eca-ff3c-4c06-98d0-a1c950d62649.vsidx
/.vs/VehicleData/FileContentIndex/a26a82d4-9ff9-415a-9a7c-2c8e3bb4d0d2.vsidx
