################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/VehicleData/FileContentIndex/b3503f3e-22eb-476c-87ef-613d75ad6eb2.vsidx
/.vs/VehicleData/FileContentIndex/327d9c5d-3989-441c-a076-834c5671af2e.vsidx
/.vs/VehicleData/FileContentIndex/906e9538-107d-4d9d-a1df-cd54b2fef8c0.vsidx
/.vs/VehicleData/FileContentIndex/720f85ac-9dea-4847-bbd0-3d02f19752f7.vsidx
